body{
    background: linear-gradient(rgba(0, 0, 0, 0.575), rgb(0, 0, 0)),
    url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  
}